
.toggleSwitch {
    float: right;
    width: 80px;
    height: 40px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #5151e5;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
    z-index: 10;
}
.toggleSwitch .toggleButton {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
}
#toggle:checked ~ .toggleSwitch {
    background: #f03d3d;
}
#toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(110% - 44px);
    background: #fff;
}
.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}
