    <!DOCTYPE html>
    <html dir="ltr" lang="ko" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>자신에게 맞는 패션을 알아보자</title>
        <!-- 구글 폰트를 통하여 나눔 폰트를 적용-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="#">

        <!-- 각각의 페이지마다 css를 나누어 놓음-->
        <link rel="stylesheet" href="/css/dismain.css">
        <link rel="stylesheet" href="/css/disqna.css">
        <link rel="stylesheet" href="/css/disanimation.css">
        <link rel="stylesheet" href="/css/disresult.css">

        <!-- bootstrap 이용하여 코드를 작성-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </head>


    <body>
    <div class="container">
        <section id="dismain" class="mx-auto my-5 py-5 px-3">
        <h1 style="font-size: 60px; font-weight: 300;">자신에게 어울리는 패션 유형을 알아보자</h1>
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <img src="./img/dismain.jpg" alt="mainImage" class="img-fluid">
        </div>
        <p style="color: rgb(20, 20, 80);">
            본인의 패션을 간단히 알아볼 수 있는 검사입니다! <br>

        </p>
        <button type="button" class="btn btn-primary" onclick="js:begin()">알아보기</button>
        </section>
        <section id="disqna">
        <div class="status mx-auto mt-5">
            <div class="statusBar">
            </div>
        </div>
        <div class="qBox my-5 py-3 mx-auto" style="font-size: 40px; font-weight: 300;">

        </div>
        <div class="answerBox" style="font-size: 40px; font-weight: 300;">

        </div>
        </section>
        <section id="disresult" class="mx-auto my-5 py-5 px-3">
        <h1 style="font-size: 40px; font-weight: 300;">당신의 패션 유형은?!!</h1>
        <div class="resultname" style="font-size: 40px; font-weight: 300;">

        </div>
        <div id="resultImg" class="my-3 col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            
        </div>
        <div class="resultDesc" style="font-size: 40px; font-weight: 300;">

        </div>
        
        <button type="button" class="gotohomefs mt-3 py-2 px-3" onclick="location.href='discoverfs.html'">홈으로</button>
        </section>
        <script src="/js/fsdata.js" charset="utf-8"></script>
        <script src="/js/fsstart.js" charset="utf-8"></script>

    </div>
    </body>

    </html>