<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../../public/css/home/main_style.css">
    <script src="../../public/js/home/script.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Nanum+Pen+Script&display=swap"
          rel="stylesheet">

    <!--기온에 맞는 랜덤 옷-->
    <link rel="stylesheet" href="../../public/css/cloth_style.css">
    <link rel="stylesheet" href="../../public/css/toggle.css">
    <script type="text/javascript" src="../../public/cjs/cloths_M.js"></script>
    <script type="text/javascript" src="../../public/cjs/cloths_W.js"></script>
    <script type="text/javascript" src="../../public/cjs/temp_logic.js"></script>
</head>
<body>
<h2 class="city"
    style="text-align: center; font-size: 50px; font-family: 'Dongle' !important; color: rgb(58, 101, 182);">패션을 통하여 날씨를
    알아보자</h2>
<div>
    <button type="button" class="wcity" id="seoul">서울</button>
    <button type="button" class="wcity" id="Gyeonggi">경기도</button>
    <button type="button" class="wcity" id="incheon">인천</button>
    <button type="button" class="wcity" id="busan">부산</button>
</div>

<div class="card">
    <div class="search">
        <input type="text" class="search-bar" placeholder="Search" list="cities">
        <datalist id="cities">
            <option value="Jeju"></option>
            <option value="Daejeon"></option>
            <option value="Chungnam"></option>
            <option value="Daegu"></option>
        </datalist>
        <button class="cam">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
        </button>
    </div>
    <h1 style="margin: auto; text-align: center; font-size: 40px;">내일의 날씨</h1>
    <div class="weather loading">
        <div style="float: left; width: 33%; text-align: center; font-size: large;">

            <h1 class="temp" style="font-size: 50px;"></h1>
            <img class="icon">
            <div class="description"> </div>
            <div class="humidity"></div>
            <div class="wind"></div>
            <div>아침</div>
        </div>

        <div style="float: left; width: 33%; text-align: center; font-size: large;">

            <h1 class="temp1" style="font-size: 50px;"></h1>
            <img class="icon1">
            <div class="description1">로딩중</div>
            <div class="humidity1"></div>
            <div class="wind1"></div>
            <div>점심</div>
        </div>

        <div style="float: left; width: 33%; text-align: center; font-size: large;">

            <h1 class="temp2" style="font-size: 50px;"></h1>
            <img class="icon2">
            <div class="description2"> </div>
            <div class="humidity2"></div>
            <div class="wind2"></div>
            <div>저녁</div>
        </div>
    </div>
</div>

<!--랜덤 옷-->
<div class="hor_d">
    <div class="hor">
        <div class="Character">
            <img src="Img/home/nullPerson.png" id="chara-img0" style="width:100%;height:100%;">
        </div>
        <div class="clot-div">
            <img src="Img/home/Clean.png" id="chara-clo0" style="width:100%;height:100%;">
        </div>
        <div class="pant-div">
            <img src="Img/home/Clean.png" id="chara-pan0" style="width:100%;height:100%;">
        </div>
        <div class="umb-div">
            <img src="Img/home/Clean.png" id="chara-umb0" style="width:100%;height:100%;">
        </div>
    </div>
    <div class="hor">
        <div class="Character">
            <img src="Img/home/nullPerson.png" id="chara-img1" style="width:100%;height:100%;">
        </div>
        <div class="clot-div">
            <img src="Img/home/Clean.png" id="chara-clo1" style="width:100%;height:100%;">
        </div>
        <div class="pant-div">
            <img src="Img/home/Clean.png" id="chara-pan1" style="width:100%;height:100%;">
        </div>
        <div class="umb-div">
            <img src="Img/home/Clean.png" id="chara-umb1" style="width:100%;height:100%;">
        </div>
    </div>
    <div class="hor">
        <div class="Character">
            <img src="Img/home/nullPerson.png" id="chara-img2" style="width:100%;height:100%;">
        </div>
        <div class="clot-div">
            <img src="Img/home/Clean.png" id="chara-clo2" style="width:100%;height:100%;">
        </div>
        <div class="pant-div">
            <img src="Img/home/Clean.png" id="chara-pan2" style="width:100%;height:100%;">
        </div>
        <div class="umb-div">
            <img src="Img/home/Clean.png" id="chara-umb2" style="width:100%;height:100%;">
        </div>
    </div>
    <input class="hor" type="checkbox" id="toggle" hidden>
    <label for="toggle" class="toggleSwitch">
        <span class="toggleButton"></span>
    </label>
</div>
<script type="text/javascript" src="./cjs/clothesChange.js"></script>
</body>
</html>